body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Rajdhani";
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-container {
    opacity: 50px;
    font-size: 30px;
    
    font-weight: 1000;
    
}

.typing-animation {
    font-size: 20px;
    
    
    height: 1em;
    
}

.default-text {
  font-size: 20px;
  height: 1em;
  text-align: left; 
  margin-left: 50px;
  white-space: normal;
  max-width: 90%;
}

.projects-container {
    opacity: 50px;
    text-align: center; 
    margin-top: 2000px;
}
.projects-container2 {
    opacity: 50px;
    text-align: left; 
    margin-top: 50px; 
    
}



.projects-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 1000;
    
}

.projects-title2 {
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 50px; 
    text-align: left;
    
    font-weight: 1000;
}
.project-box {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.typing-animation:after {
        content: "|";
        margin-left: 8px;
        opacity: 1;
        animation: blink 1s infinite;
        color: cyan;
}

@keyframes blink {
        0%,100% {
                opacity: 1;
        }

        50% {
                opacity: 0;
        }
}
.link {
    
    text-decoration: none;
    color: cyan;
}




.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
    
    
}
.image-row {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    margin-top: 100px;
}
.arrow {
  color: cyan;
}

.image-row img {
    
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease-in-out;
    margin: 0 5px;
    justify-content: center;
    align-content: center;
}

.imgsize:hover {
    transform: scale(1.2); 
}

@media only screen and (max-width: 767px) {
  .center-container {
    top: 50%;
  }
  .projects-container {
    margin-top: 700px;
    padding: 10px; 
    text-align: center; 
  }
  .projects-container2 {
    margin-top: 10px;

  }
  .project-box {
    margin-left: 0;
    font-size: 18px; 
  }

  .projects-title {
    font-size: 15px;
    text-align: center;
    
    
   }
  .projects-title2 {
    font-size: 15px;
    margin-left: 10px;
  }
  .default-text {
    margin-left: 10px;
  }
.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

hr {
  display: none;
}
.image-row {
    display: grid;
    
    align-items: center;
    justify-content: center;
    gap: 100px;
}
 .image-row img {
   width: 60px;
    height: 60px;
    transition: transform 0.3s ease-in-out;
    margin: 0 5px;
    
}


}
