body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Rajdhani";
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-container {
    opacity: 50px;
    font-size: 30px;
    
    font-weight: 1000;
    
}


.typing-animation {
    font-size: 20px;
    
    
    height: 1em;
    
}


.projects-container {
    opacity: 50px;
    text-align: center; 
    margin-top: 2000px;
}
.projects-container2 {
    opacity: 50px;
    text-align: center; 
    margin-top: 50px; 
}



.projects-title {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 20px; 
}
.project-box {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.link {
    
    text-decoration: none;
    color: cyan;
}

.project-box:nth-child(2n) {
    margin-right: 0;
}


@media only screen and (max-width: 767px) {
  .center-container {
    top: 50%;
  }
  .projects-container {
    margin-top: 700px;
    padding: 10px; 
    text-align: center; 
  }
  .projects-container2 {
    margin-top: 10px;

  }
  .project-box {
    margin-left: 0;
    font-size: 18px; 
  }
  .projects-title {
    margin-left: 0; 
  }
  .projects-title {
    font-size: 15px;
    text-align: center;
    
    
   }

}

